---
import Footer from '@components/Footer.astro'
import { getAllTeams } from '../services/team'
import SEO from 'simple-astro-seo'

const { title } = Astro.props

const teams = await getAllTeams()
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | lpbcol 2022 - 2023</title>
    <SEO
      image="/banner.png"
      title={title}
      description="Liga profesional de béisbol colombiano 2022 - 2023"
      siteName="lpbcol 2022 - 2023"
      url="https://lpbcol-app.vercel.app/"
      pageType="sports"
      twitterHandle="pipegoods"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Viga&display=swap"
      rel="stylesheet"
    />
    {
      teams.map(({ image }) => (
        <link
          href={image}
          rel="preload"
          type="image/png"
          as="image"
          fetchpriority="high"
          crossorigin
        />
      ))
    }
  </head>
  <body
    class="min-h-screen grid place-content-center bg-gradient-to-r from-[#1c273b] to-[#1a4089] text-white"
  >
    <main class="container mx-auto overflow-scroll">
      <slot />
    </main>

    <Footer />
  </body>
</html>
